{% extends "general.html.jinja2" %} 

{% block head %}
   <title>Hello</title>
{% endblock %} 

{% block body %} 
  <h1>Hello {{name}}.</h1>
  {% if usages %}
	<ul>Les usages de ton prénom sont :
	  {% for usage in usages %}
	  <li>{{usage.usage}} : {{usage.gender}}</li>
	  {% endfor %}
	</ul>
  {% else %}
	<span>Aucun usage n'a été trouvé pour ton prénom :(</span>
  {% endif %}
{% endblock %} 