{% extends "general.html.jinja2" %} 

{% block head %}
   <title>Page Not Found</title>
{% endblock %} 

{% block body %} 
  <h1>Oups! Cette page n'existe pas.</h1> 
  <a href="{{ url_for('home') }}"><p>Cliquez ici</a> pour retourner à l'accueil</p> 
{% endblock %} 
