{% extends "general.html.jinja2" %} 

{% block head %}
   <title>A propos</title>
{% endblock %} 

{% block body %} 
  <p>Site crée par Philippe RATEAU, Julien TAGNANI et Nicolas TERRIEN dans le cadre de l'UE Hackathon à l'IMT de Nantes.</p>
  <p>Je test gitflow</p>
{% endblock %} 