{% extends "general.html.jinja2" %} 

{% block title %}
   Reservatruc 
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %} 
<center>
  <form action="/changePassword" method="POST">
    <div class="changePassword">
      <div class="changePassword-screen">
        <div class="app-title">
          <h1>Modify Password</h1>
        </div>
        <div class="changePassword-form">
          <input type="password" class="changePassword-field" value="" placeholder="old password" name="oldPassword">
          <label class="login-field-icon fui-lock" for="login-pass">
        </div>
        <div class="changePassword-form">
          <input type="password" class="changePassword-field" value="" placeholder="password" name="password">
          <label class="login-field-icon fui-lock" for="login-pass">
        </div>
          <div class="control-group">
            <input type="password" class="changePassword-field" value="" placeholder="confirm" name="confirm">
          <label class="login-field-icon fui-lock" for="login-pass">
        </div>
        <br>
        <input type="submit" value="Change password" class="btn btn-primary">
        </div>
      </div>
    </div>
  </form>
  <br>
  <a href="/profil">Profil</a>
</center>
{% endblock %}