{% extends "general.html.jinja2" %} 

{% block title %}
   Reservatruc 
{% endblock %}

{% block content %}

<center>
<div class="texte" >Ce site a été fait par Philippe Rateau, Nicolas Terrien et Julien Tagnani. Il a été fait en 2021 dans le cadre de l'UE Hackaton.<br>
Il est à destination des étudiants ou de tous ceux qui ont besoin de réserver une salle ou une machine à laver.<br>
Pour contacter l'enseignant référent de l'UE : herve.grall@imt-atlantique.fr<br>
Pour nous contacter : philippe.rateau@imt-atlantique.net, nicolas.terrien@imt-atlantique.net, julien.tagnani@imt-atlantique.net</div>

</center>
{% endblock %}