<!doctype html>
<html>
    <head lang="fr">
        <meta charset="utf-8">
        <!-- Mise à l'echelle pour les navigateurs mobiles -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
               <!-- CSS de Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% block head %}
        {% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Hackathon</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/word">Mot aléatoire</a>
                </li>
                <li>
                    <a href="/visitors">Visiteurs</a>
                </li>
                <li>
                    <a href="/upload">Test Upload</a>
                </li>
                <li>
                    <a href="/about">A propos</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>

    <div class="container-fluid">   
        <div class="row content">
            <div class="col-sm-offset-2 col-sm-8 text-center"> 
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Fichiers Javascript nécessaires pour certains composants Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
	<!-- Fichiers Javascript nécessaires pour les websocket -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {

            var socket = io(namespace);

            socket.on('bdd_reset', function(message) {
				console.log (message);
                socket.emit('session_reset', {data: 'connected to the SocketServer...'});
            });
        });
    </script>
    </body>
</html>