{% extends "bootstrap/base.html" %}

    {% block html_attribs %} lang="fr"{% endblock %}
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" href="../static/css/style.css">
    {% endblock %}
    
    {% block navbar %}
    <div class="navbar navbar-static-top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Reservatruc</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Accueil</a>
                    </li>
                    <li>
                        <a href="/washing">Machine à laver</a>
                    </li>   
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    <li>
                        <a href="/profil">profil</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>  
    {% endblock %}