{% extends "general.html.jinja2" %} 

{% block title %}
   Reservatruc 
{% endblock %} 

{% block content %} 
  {{ super() }}
<br>
<center>
   <h1>Bonjour {{username}} !</h1>
   <br>

   <div class="text">Bienvenu sur le site qui te permettra de ne plus perdre de temps à aller voir si une machine à laver ou une salle de la MDE est libre.</div>
   <br>
   <div class="text">Pour réserver une machine à laver va sur "Machine à laver" !</div>
   <br>
   <div class="text">Ce site est un projet fait par des élèves de IMT Atlantique en 2021.</div>
</center>   
    
{% endblock %} 
