{% extends "general.html.jinja2" %} 

{% block title %}
   Reservatruc 
{% endblock %}

{% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
<center>
    <br>
    <div class="text">{{username}} ne te plait plus ? Tu peux changer de nom (il faut entre 4 et 25 charactères) :</div>
    <br>
    <form action="/profil" method="POST">
        <div class="usernameForm-form">
            <input type="text" class="username-field" value="" placeholder="Nouveau nom d'utilisateur" name="username">
            <label class="login-field-icon fui-lock" for="login-pass">
        </div>
        <br>
        <input type="submit" value="Change username" class="btn btn-primary">
    </form>
    <br>
    <div class="text">Tu veux changer de mot de passe {{username}} :</div>
    <br>
    <a href="/changePassword">Modify password</a>
</center>
{% endblock %}