<link rel="stylesheet" href="../static/css/stylelog.css" type="text/css">

<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<title>Le formulaire</title>
		</head>
		<body>
			<form action="http://localhost:5000/signin" method="post">
					<label>Username</label> : <input type="text" name="username" />
					<label>Password</label> : <input type="text" name="password" />
                    
					<input type="submit" value="Envoyer" />
			</form>
		</body>
	</html>