<link rel="stylesheet" href="../static/css/stylelog.css" type="text/css">
{% extends "flash.html.jinja2" %}



{% block body %} 
<form action="/signin" method="POST">
<div class="signin">
<div class="signin-screen">
<div class="app-title">
<h1>Sign in</h1>
</div>
<div class="signin-form">
<div class="control-group">
				<input type="text" class="signin-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="signin-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></div>
<input type="submit" value="Sign in" class="btn btn-primary btn-large btn-block">

</div>
</div>
</div>
</form>
<br>
<a href="/login">Already have an account</a>
{% endblock %}