{% extends "general.html.jinja2" %} 

{% block head %}
   <title>Hello</title>
{% endblock %} 

{% block body %} 

  <ul>Les visiteurs que nous avons eu sur notre super prototype de site sont :
    {% for visitor in visitors %}
      {% if user == visitor.id %}
        <li><b>{{visitor.name}} (Vous)</b></li>
      {% else %}
        <li>{{visitor.name}}</li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <br>
  
    <form action="{{ url_for("visitors_list") }}" method="post">
        <button type="submit" class="btn btn-primary mb-2">Go</button>
    </form>
  
{% endblock %}