{% extends "general.html.jinja2" %} 

{% block head %}
   <title>Hello</title>
{% endblock %} 

{% block body %} 
  <ul>Les visiteurs que nous avons eu sur notre super prototype de site sont :
    {% for visitor in visitors %}
      {% if username == visitor.name %}
        <li><b>{{visitor.name}} (Vous)</b></li>
      {% else %}
        <li>{{visitor.name}}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <br>
    <div>
    <a href="{{ url_for("reset") }}">Reset la base de données</button>
    </div>
{% endblock %} 